body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1a1a;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.information-fields {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.general,
.educational,
.practical {
  display: flex;
  flex-direction: column;
  background: black;
  width: 100%;
  padding: 1rem;
}

.edit-button {
  width: 4rem;
  margin-top: auto;
  margin-left: auto;
}

.edit {
  width: 33%;
  background-color: black;
  padding: 1rem;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.edit-form button {
  width: 4rem;
  margin-top: auto;
  margin-left: auto;
}

.edit-form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info p {
  height: 1.2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
}

legend {
  font-weight: bold;
}
