body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1a1a;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  display: flex;
  justify-content: space-between;
}

.general {
  width: 100%;
}

.general-form,
.general-form label {
  display: flex;
  flex-direction: column;
}

.educational {
  width: 100%;
}

.educational-form,
.educational-form label {
  display: flex;
  flex-direction: column;
}

.practical {
  width: 100%;
}

.practical-form,
.practical-form label {
  display: flex;
  flex-direction: column;
}
