body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  padding: 1rem;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background: lightblue;
  width: 100%;
}

p {
  height: 1rem;
}

label {
  height: 1rem;
}

button {
  max-width: 6rem;
}

.profile-picture {
  width: 20%;
  background: darkblue;
}

.general {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
}

.educational-container,
.practical-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.educational-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.practical-container {
  grid-column-start: 3;
  grid-column-end: 4;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background: lightblue;
}
